@import "omega_mixins";
  
// Basic Color Variables 
$primaryColor1: #C5783A;
$primaryColor2: #8E5A79;
$primaryColor3: #CCCCCC;
$primaryColor4: #1A1A1A;
$primaryColor5: #9A9A9A;
$mainMenuBgColor: #E6D19A;
$mainMenuFontColor: #1A1A1A;
$mainMenuBorderColor: #1A1A1A;
$buttonBgColor: #9A9A9A;
$buttonFontColor: #1A1A1A;
$buttonBorderColor: #1A1A1A;

// Basic Font Variables
$defaultHeaderFont: Georgia, serif;
$defaultBodyFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
